<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> 
    <link rel="icon" href="data:;base64,iVBORwOKGO=">
    <style>
      .loginform input[type='submit']:hover {
        cursor: pointer;
        box-shadow: 0 0 5px black;
        transition: box-shadow .1s;
      }
      .button:hover {
        cursor: pointer;
        box-shadow: 0 0 10px #EC1212;
        transition: box-shadow .3s;
      }
    </style>
    <style>
      .loginform input[type='text/css']:hover {
        cursor: pointer;
        box-shadow: 0 0 5px black;
        transition: box-shadow .1s;
      } 

      
    </style>

    <title>Game Tracker</title>
</head>

        {{{body}}}

</html>
