<body
  style='
    margin: 0;
    padding: 0;
    background: url(images/gamingbackground.jpg);
    background-size: 1500px;
    background-repeat:no-repeat;
    background-color: #000;
    font-family: sans-serif;
    background-position: center 10px; 
  '
>

  

{{#if logged_in}}
<div
    style='

        width: 320px;
        height: 325px;
        background: #000000;
        color: #9a6c01;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px 30px;
        box-shadow: 1px 1px 100px 1px;
        transition: box-shadow .3s;
      '
  >
    <h1 style='text-align: center; font-size: 22px'>It's dangerous to go alone! Take this</h1>
    <br/>
    <form class='loginform'>
            <input
                style="
                width: 100%;
                margin-bottom: 20px;
                border: none;
                outline: none;
                height: 40px;
                background: #c812ec;
                color: #fff;
                font-family: 'Press Start 2P', cursive;
                font-size: 18px;
                text-align: center;
                border-radius: 6px;
                "
                type="text/css"
                name=""
                onclick=window.location='/dashboard';
                value="My Game List"
            />
            <input
            style="
                width: 100%;
                margin-bottom: 20px;
                border: none;
                outline: none;
                height: 40px;
                background: #5bec12;
                color: #000000;
                font-family: 'Press Start 2P', cursive;
                font-size: 18px;
                text-align: center;
                border-radius: 6px;
            "
                type="text/css"
                name=""
                onclick=window.location='/game';
                value="Game Entry"
            />
            <input
            style="
                width: 100%;
                margin-bottom: 20px;
                border: none;
                outline: none;
                height: 40px;
                background: #4f4f4f;
                color: #000000;
                font-family: 'Press Start 2P', cursive;
                font-size: 18px;
                text-align: center;
                border-radius: 6px;
            "
                type="text/css"
                name=""
                id="logout"
                onclick=window.location='/logout';
                value="Logout"
            />
            </form>
</div>
{{else}}
<div
    style='

        width: 320px;
        height: 275px;
        background: #000000;
        color: #9a6c01;
        top: 50%;
        left: 50%;
        right: 50%;
        bottom: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px 30px;
        box-shadow: 1px 1px 100px 1px;
        transition: box-shadow .3s;
      '
  >
    <h1 style='text-align: center; font-size: 22px'>It's dangerous to go alone! Take this</h1>
    <br/>
    <form class='loginform'>
            <input
            style="
                width: 100%;
                margin-bottom: 20px;
                border: none;
                outline: none;
                height: 40px;
                background: #EC1212;
                color: #fff;
                font-family: 'Press Start 2P', cursive;
                font-size: 18px;
                text-align: center;
                border-radius: 6px;
            "
                type="text/css"
                name=""
                onclick=window.location='/login';
                value="Login"
            />
            <input
            style='
                width: 100%;
                margin-bottom: 20px;
                border: none;
                outline: none;
                height: 40px;
                background: #2079ff;
                color: #fff;
                font-family: "Press Start 2P", cursive;
                font-size: 18px;
                text-align: center;
                border-radius: 6px;
                '
                type="text/css"
                name=""
                onclick=window.location='/signup';
                value="Sign Up"
            />
    </form>
</div>
{{/if}}

  

      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="/js/modal.js"></script>
      <script src="/js/login.js"></script>
      <script src="/js/logout.js"></script>
      <script src="/js/signup.js"></script>
      <script src="/js/addGame.js"></script>
</body>