<body
    style="
      margin: 0;
      padding: 0;
      background: url(./pic/gamingbackground.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #000;
      font-family: sans-serif;
    "
  >
    <header style="display: flex; justify-content: center; background-color: rgb(36, 35, 35); padding: 10px;">
        <ul>
            <h2 style="color: white;">Home</h2>
        </ul>
        <ul>
            <h2 style="color: white;">Games</h2>
        </ul>
        <ul>
            <h2 style="color: white;">Systems</h2>
        </ul>
        <ul>
            <h2 style="color: white;">Profile</h2>
        </ul>
    </header>
    <side-bar style="background-color: rgb(0, 0, 0); border: 1px, solid, red; padding: 100px;">
        <h2>hello</h2>
    </side-bar>
</body>