<body
  style='
    margin: 0;
    padding: 0;
    background-image: url(./views/pic/gameentrybackground.jpg) ;
    background-size: 1500px;
    background-repeat:no-repeat;
    background-color: #000;
    font-family: sans-serif;
    background-position: center 10px; 
  '
>
  <div
    style='

        width: 320px;
        height: fit;
        background: #cecdc2;
        color: #000;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        border-radius: 20px;
        padding: 20px 30px;
        box-shadow: 20px 20px 20px;
        transition: box-shadow .3s;
      '
  >
      <input
        style='
            width: 100%;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid #000;
            background: transparent;
            outline: none;
            height: 40px;
            color: #000;
          '
        type='text'
        id="signup-username"
        name=''
        placeholder='Enter Username'
      />

      <input
        style='
            width: 100%;
            margin-bottom: 20px;
            border: none;
            border-bottom: 2px solid #000;
            background: transparent;
            outline: none;
            height: 40px;
            color: #000;
          '
        type='password'
        id="signup-password"
        name=''
        placeholder='Enter Password'
      />

      <input
        style='
            width: 100%;
            margin-bottom: 20px;
            border: none;
            outline: none;
            height: 40px;
            background: #2079ff;
            color: #fff;
            font-family: "Press Start 2P", cursive;
            font-size: 18px;
            border-radius: 6px;
          '
        type='submit'
        id="signup-btn"
        name=''
        value='Sign Up'
      /><br />

      <a
        href='/login'
        style='

            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: #000;
          '
      >Already have an account? Login Here!</a>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="/js/signup.js"></script>

</body>
